doctype html
html
	head
		meta(charset="utf-8")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono")
		link(rel="stylesheet" href="styles.css")

	body
		header
			.nav-container
				nav
					.nav-bar
						a(href="/") Inicio 
						a(href="/sobre") Sobre
						a(href="/") Cronograma
						a(href="/") Onde eu estou
						
		block content
	
	footer.footer
		p.text-muted Feito por #[a(href='/') Rayane Pimentel] | #[a(href="https://www.linkedin.com/in/rayanepimentel/" target="_blank") LinkedIn&#x2197;] | #[a(href="https://github.com/rayanepimentel/" target="_blank") Github&#x2197;]

		
