html {
    background-color: #eaedf7;
    color: #222831;
}

body {
    padding: 50px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 23px;
}

a {
    text-decoration: none;
    color: #a047b6;
}

li {
    list-style-type: none;
}

li:hover,
.active {
    /* background-color:#4f037e!important; */
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #353236;
}


nav {
    display: flex;
    align-items: left;
    justify-content: space-between;
}

.nav-container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.nav-bar a {
    padding: 8px;
    margin-left: 70px;
}

.nav-container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.subtitle {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.title {
    display: flex;
    align-items: baseline;
    margin-top: 50px;
    margin-bottom: 50px;
}

.title * {
    margin-right: 20px;
}

.subtitle h1 {
    margin: 0px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: auto;
    height: auto;
}

.text-muted {
    margin: 20px 0;
    font-size: 18px;
}

.animacao {
    animation: go-back 1s infinite alternate;
    background-color: #353236;
    color: #eaedf7;
}

@keyframes go-back {
    from {
      transform: translateX(100px);
    }
    to {
      transform: translateX(0);
    }
  }