extends ../public/nav

block content	
  .container
    .title
      h1 Infosec
      h2 Iniciante
    p Minha trajetória documentada em #[a(href='/') InfoSec]
    p Esse material é totalmente iniciante. 
    p Se você encontrar alguma informação errada ou fora de contexto, por favor abra uma #[a(href="https://github.com/rayanepimentel/InfoSec-iniciante" target="_blank") issue&#x2197;].
    p Obrigada <3 

